$main: #2e3844;
$dark: #1e2731;
$gap: 25px;

* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Fira Sans', sans-serif;
}

main {
  padding: 0 5%;
  > .inner {
    width: 100%;
    max-width: 2000px;
    margin: 0 auto;
  }
}

input {
  background-color: $main;
  border-radius: 5px;
}

input,
textarea,
button {
  border: 0;
  display: inline-block;
  color: #fff;
  font-family: 'Fira Sans';
}

button {
  cursor: pointer;
}

.notification {
  background-color: #000;
  padding: 15px 35px;
  color: #fff;
  position: fixed;
  left: 50%;
  bottom: 25px;
  transform: translateX(-50%);
  z-index: 2;
}

fieldset {
  label {
    margin-bottom: 1em;
    display: flex;
    align-items: center;
    font-size: .85em;
    img {
      height: .85em;
      margin-right: .35em;
    }
  }
  input {
    width: 100%;
    padding: 1em;
    font-size: 1em;
  }
}

#quiz-generator-wrapper {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 50px;
  color: #fff;

  .box {
    background-color: $dark;
    padding: 1.5em;
    border-radius: 8px;
    color: #fff;
  }
  
  .menu-wrapper {
    display: none;
    flex: 1 1 200px;
    align-self: flex-start;
    position: sticky;
    top: 0px;
  }
  .form-wrapper {
    width: 100%;
    padding: 100px 0;
    .add-question {
      width: 100%;
      background-color: #FF7D24;
      padding: 1.25em 0;
      border-radius: 8px;
      font-size: 1em;
      cursor: pointer;
      &:hover {
        opacity: .5;
      }
    }
    .choices {
      .choice {
        input {
          display: none;
          &:checked + label {
            opacity: 1;
          }
        }
        label {
          display: flex;
          flex-direction: row-reverse;
          align-items: center;
          gap: .65em;
          opacity: .5;
          cursor: pointer;
          img {
            height: 1.15em;
          }
        }
      }
    }
  }
  .question-wrapper {
    background-color: $main;
    margin-bottom: 2em;
    padding: $gap;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: $gap;
    overflow: hidden;
    &.close {
      height: 240px;
    }
    .cover {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      position: relative;
      overflow: hidden;
      transition: 300ms;
      &::after {
        content: '';
        width: 100%;
        height: 100%;
        background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .75));
        display: none;
        position: absolute;
        left: 0;
        top: 0;
      }
      * {
        position: relative;
        z-index: 1;
      }
      &.active {
        padding-top: 4em;
        &::after {
          display: block;
        }
      }
    }
    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .title {
        font-size: 1.25em;
        font-weight: 500;
      }
      .controls {
        display: flex;
        gap: 1em;
        button {
          background-color: $dark;
          padding: 1em;
        }
      }
    }
    .answers-type {
      padding: .5em;
      display: flex;
      justify-content: space-between;
      .choice {
        padding: 1em;
        border-radius: 5px;
        display: flex;
        opacity: .5;
        cursor: pointer;
        &:hover {
          background-color: $main;
          opacity: .75;
        }
        img {
          height: 1em;
          margin-right: .5em;
        }
        &.active {
          background-color: $main;
          opacity: 1;
        }
      }
    }
    .answers {
      .grid {
        display: none;
        grid-template-columns: 1fr;
        grid-gap: $gap;
        &.active {
          display: grid;
        }
        .answer-wrapper {
          padding: 1.5em;
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
          gap: 2em;
          .fields {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 1.5em;
          }
          fieldset {
            width: 100%;
            label {
              font-size: .85em;
            }
            input {
              width: 100%;
              padding: 1em;
              font-size: 1em;
            }
          }
          .choices {
            margin-top: 1em;
            display: flex;
            flex-direction: column;
            gap: 10px;
          }
          .controls {
            display: flex;
            align-items: center;
            gap: 1em;
            img {
              height: 1em;
              cursor: pointer;
              user-select: none;
              &.remove {
                height: .85em;
              }
              &:hover {
                opacity: .5;
              }
            }
          }
        }
      }
      .add-response {
        width: 100%;
      }
    }
    .explaination {
      textarea {
        width: 100%;
        min-width: 100%;
        max-width: 100%;
        min-height: 5em;
        background-color: $dark;
        padding: 1em;
        font-size: 16px;
      }
    }
  }
}
