$main: #2e3844;
$dark: #1e2731;
$gap: 25px;

* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Fira Sans', sans-serif;
}

main {
  > .inner {
    width: 100%;
    max-width: 2000px;
    background-color: #eee;
    margin: 0 auto;
  }
}

input {
  background-color: $main;
  border-radius: 5px;
}

input,
textarea,
button {
  border: 0;
  display: inline-block;
  color: #fff;
  font-family: 'Fira Sans';
}

button {
  cursor: pointer;
}

.notification {
  background-color: #000;
  padding: 15px 35px;
  color: #fff;
  position: fixed;
  left: 50%;
  bottom: 25px;
  transform: translateX(-50%);
  z-index: 2;
}

fieldset {
  label {
    font-size: .85em;
    img {
      height: .85em;
      margin-right: .35em;
    }
  }
  input {
    width: 100%;
    margin-top: 1em;
    padding: 1em;
    font-size: 1em;
  }
}

#quiz-generator-wrapper {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 50px;
  color: #fff;

  .box {
    background-color: $dark;
    padding: 1.5em;
    border-radius: 8px;
    color: #fff;
  }

  label {
    display: block;
  }
  .menu-wrapper {
    display: none;
    flex: 1 1 200px;
    align-self: flex-start;
    position: sticky;
    top: 0px;
  }
  .form-wrapper {
    width: 100%;
    padding: 100px 0;
    .add-question {
      width: 100%;
      background-color: $main;
      padding: 1.5em 0;
      border-radius: 7px;
      font-size: 1em;
      cursor: pointer;
    }
    .choices {
      .choice {
        input {
          display: none;
          &:checked + label {
            opacity: 1;
          }
        }
        label {
          display: flex;
          flex-direction: row-reverse;
          align-items: center;
          gap: .65em;
          opacity: .5;
          cursor: pointer;
          img {
            height: 1.15em;
          }
        }
      }
    }
  }
  .question-wrapper {
    background-color: $main;
    margin-bottom: 2em;
    padding: $gap;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: $gap;
    overflow: hidden;
    &.close {
      height: 240px;
    }
    .cover {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .title {
        font-size: 1.25em;
        font-weight: 500;
      }
      .controls {
        display: flex;
        gap: 1em;
        button {
          background-color: $dark;
          padding: 1em;
        }
      }
    }
    .answers-type {
      display: flex;
      justify-content: space-between;
    }
    .answers {
      .grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: $gap;
        .answer-wrapper {
          padding: 1.5em;
          display: flex;
          justify-content: space-between;
          gap: 2em;
          fieldset {
            width: 100%;
            label {
              font-size: .85em;
            }
            input {
              width: 100%;
              margin-top: 1em;
              padding: 1em;
              font-size: 1em;
            }
          }
          .choices {
            margin-top: 1em;
            display: flex;
            flex-direction: column;
            gap: 10px;
          }
          .controls {
            display: flex;
            align-items: center;
            gap: 1em;
            img {
              height: 1em;
              cursor: pointer;
              user-select: none;
              &.remove {
                height: .85em;
              }
              &:hover {
                opacity: .5;
              }
            }
          }
        }
      }
      .add-response {
        width: 100%;
        margin-top: $gap;
      }
    }
    .explaination {
      textarea {
        width: 100%;
        min-width: 100%;
        max-width: 100%;
        min-height: 5em;
        background-color: $dark;
        padding: 1em;
        font-size: 16px;
      }
    }
  }
}
